@import 'client/styles/colors';

.bucket-column {
  background: #b6b6b6;

  &.alt-style {
    background: #a3a3a3;
  }
}
.bucket-title {

  padding: 20px;
  background: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60px;

  > div  {
    min-height: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    i {
      color: white;
    }

    .bucket_action_previous, .spacer.prev {
      margin-right: auto;
    }

    .bucket_action_next, .spacer.next {
      margin-left: auto;
    }

    .spacer.prev, .spacer.next {
      width: 24px;
    }

  }
}

.bucket-legend {

  width: 100%;
  font-size: 0.75em;
  padding: 5px;
  display: flex;
  flex-direction: column;

  .bucket-legend-content {
    background: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    
    h3 {
      margin: 0;
      padding-top: 5px;
      text-align: center;
    }
  }
}

.bucket {

  flex: 1;
  flex-shrink: 0;
  color: #FFF;
  min-width: 190px;
  height: 100%;

  .bucket-content {
    padding-top: 5px;
  }

  .bucket-content.size-sm {
   padding-left: 10px;
   padding-right: 10px;
  }
}

.bucket.size-md, .bucket.size-lg, .bucket.size-sm{
  overflow-y: auto;
}

.bucket.size-sm {
  min-width: 100vw;
  -webkit-overflow-scrolling: touch;

  .bucket-content {
    height: calc(100% + 1px);
  }

  .bucket_action_previous .bucket_action_next {
   visibility:hidden;
  }
}

.bucket_action_previous {
 float: left;
 cursor: pointer;
}

.bucket_action_next {
 float: right;
 cursor: pointer;
}
