@import 'client/styles/colors';

.sidebar {
	transition: 300ms ease;
	width: 300px;
	height: 100%;
	box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);

	.sidebar-main {
		width: 100%;
		height: 100%;

		> .row > .col {
			position: relative;
		}
	}

	.sidebar-image {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition-delay: 2s;
		
		.imageView {
			opacity: 100;
			transition: 300ms ease;
		}
	}

	.sidebar-toggle-icon {
		&.sidebar-toggle-icon-left {
			left: 252px;
		}
		&.sidebar-toggle-icon-right {
			right: 252px;
		}
		top: 9px;
		position: absolute;
		transition: 300ms ease;
		i {
			color: white;
		}
	}

	&.closed:not(.sm) {
		width: 64px;
		overflow: hidden;

		.tree-view-child {
			display: none;
		}
	
		.tree-view-item-content {

			.tree-view-text {
				opacity: 0;
			}
		}

		.sidebar-toggle-icon {
			&.sidebar-toggle-icon-left {
				left: 16px;
			}
			&.sidebar-toggle-icon-right {
				right: 16px;
			}
		}

		.sidebar-image {
			.imageView {
				opacity: 0;
			}
		}
	}

	&.sm:not(.closed) {
		width: 0;
		overflow: hidden;
	
		.sidebar-toggle-icon {
			left: 16px;
		}
	}

	&.sm {
		.grid {
			.row:nth-child(2){
				-webkit-overflow-scrolling: touch;
			}
		}
	}
}