@import '../../../../styles/colors';

.dropdown {

    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    

    &:focus {
        outline: none;
    }

    .dropdown-header {
     z-index: 9;
    }

   
    .dropdown-content {
        position: absolute;
        z-index: 10;
        top: 40px;
        left: 50%;
        transform: translate(-50%);
        padding: 10px 0 20px;
        margin: 0;

        &:not(.no-style) {

            background: #DDD;
            border-radius: 5px;
            padding: 10px 0 20px;
            margin: 0;
            
            .dropdown-tag {

                height: 0px;
                border-style: solid;
                border-width: 0px 9px 10px;
                border-color: transparent transparent #DDD;
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }

    &.inline {
        .dropdown-content {
            position: initial;
            transform: initial;
            padding: 10px;
            width: 100%;
        }
    }
}
