@import '../../../../styles/colors';

.compact-list {

    display: flex;
    align-items: flex-end;
    
    span {
        color: #000 !important;
    }

    

    .list {
        padding: 0;
        height: 100%;
        border-radius: 5px;
        background-color: #f2f2f2;

        .pagination-content {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .compact-list-item {
        
        display: flex;
        align-items: center;
        padding: 2px 10px;

        .icon-small {
            margin-left: auto;
        }
    }
}