@import '../../../../styles/colors';

.notifications {

	display: flex;
	align-items: center;
	position: relative;

	cursor: pointer;

	i {
		font-size: 28px;
		padding: 5px;
	}

	&:not(:last-child){
		margin-right: 10px;
	}

	.number {
		position: absolute;
		z-index: 2;

		top: 0;
		right: 0;

		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: $error;

		display: flex;
		align-items: center;
		justify-content: center;

		span {
			color: white;
			font-size: 12px;
		}
	}

	.notifications-dropdown {
		list-style-type: none;
		padding: 10px 0 20px;
		margin: 0;
	}
}

	
.notifications{
	.dropdown-content{
		width:200px;
	}
}
