@import 'client/styles/colors';

.app-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    background-color: #ddd;
}

.toast-notification {
    display: flex;
    align-items: center;

    .icon-small {
        margin-right: 5px;
        
        i {
            color: white;
        }
    }
}