@import 'client/styles/colors';

.input-checkbox {

    .checkbox-main {
    }

    .checkbox-label {
        margin-left: 10px;

        &.label-html {
            color: $grey-text-color;

            a {
                text-decoration: underline;

                &:link, &:visited, &:hover, &:active {
                    color: initial;    
                }
            }
        }
    }

    .input-header {
    	display: flex;
    	align-items: center;
    	justify-content: flex-start;
    	margin-bottom: 3px;
    }
}