@import 'client/styles/colors';

.genny-passcode {
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .passcode {
        margin: 5px;
    }

    .spinner {
        margin-bottom: 10px
    }
}
