.bucket-view {

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.bucket-view.size-xs {
  overflow-x: hidden;
  touch-action: none;
}
