.bucket-view {

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  background-color: #a3a3a3;

  > div {
    height: 100%;
    flex-grow: 1;
  }

  &.size-lg, &.size-md, &.size-sm {
    .bucket-column {
      display: flex;
      flex-direction: column;

      .bucket-title{
        flex-shrink: 0;
      }
    }
  }
}

.bucket-view.size-sm {
  overflow-x: hidden;
  // touch-action: none;
  cursor: pointer;
}

.bucket-option-item.size-sm {
 margin-bottom: 15px;
 padding-bottom: 15px;
 border-bottom: 0.5px solid lightgray;
 cursor: pointer;
}
