.bucket-view {
  display: flex;
  flex-direction: row;

  position: relative;

  .bucket {
    flex: 1;
    flex-shrink: 0;
    text-align: center;
    background: #a3a3a3;
    color: #FFF;

    &:nth-child(odd) {
      background: #989998;

      .bucket-title {
        background: #898989;
      
      }
    }

    .bucket-title {
      padding: 20px;
      background: #929292;

    }

    .bucket-content {
      padding: 10px;

      .card {
        margin-bottom: 10px;
      }
    }
  }
}
