@import '../../../../styles/colors';

.genny-header {

    .dropdown-content {
        left: -50%;

        .dropdown-tag {
            left: 75% !important;
        }
    }

    .dropdown-profile {

        > li {

            i {
                padding-right: 5px;
            }

            i, span {
                color: rgb(31, 31, 31);
            }

            &:hover {
                background: rgb(31, 31, 31);

                i, span {
                    color: white;
                }
            }
        }
    }
    
    .label > span {
        color: white;
    }

    .header-messages {
        margin-right: 10px;

        i {
            color: white;
        }
    }
}