@import '../../../../styles/colors';


.button {

 	width: 100%;

 	> button {
	    width: inherit;
	    height: 50px;
	    border: none;
	    border-radius: 5px;
	    color: white;
	    background: #999;
	    font-size: 1em;
	    cursor: pointer;
	    outline: none;

	    display: flex;
	 	justify-content: center;
	 	align-items: center;

	 	> i {
	 		padding-right: 5px;
	 		color: white;
	 	}

	 	&:hover, &:active {
	        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
	    }
 	}

 	&.confirm > button{
 		background: $success;
    }

    &.cancel > button{
    	background: $error;
    }

    

    &.small > button{
	    height: 30px;
	    font-size: 0.75em;

	    > i {
		    font-size: 1.5em;
	    }
    }

 	&:not(:last-child){
		margin-right: 5px
	}

	&:not(:first-child){
		margin-left: 5px
	}
}
