@import '../../../../styles/colors';

.treeview {
  display: flex;
  flex-direction: column;
  text-align: left;

  li {
    list-style: none;
  }

  >div {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }

  ul{
    list-style-type: none;
    padding-top: 10px;
  }
  li{
    list-style-type: none;
    padding-left:0;
    padding-top: 10px;

    > div, > div > span {
      display: flex;
      align-items: center;
    }

    > div > span > i {
      margin-right: 10px;
    }
  }
}

