@import 'client/styles/colors';

.genny-list {

    background-color: #ddd;
    min-height: 100%;
    
    .genny-list-title {

        text-align: center;
        color: white;
        background-color: #929292;
        padding: 20px 0;

        h2 {
            margin: 0;
        }
    }

    .list-item {
        
        &.selected > div {
            background-color: rgb(51, 51, 51);
            color: #fff;
        }
    }
}
