/* Set the application global color scheme. */
$background-color: #ebeff3;
$primary-color-dark: #0288D1;
$primary-color-very-dark: #353B4A;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF;
$accent-color: #9E9E9E;
$dark-text-color: #212121;
$grey-text-color: #757575;
$divider-color: #BDBDBD;
$border-color: #DDDDDD;
$sidebar-color: #353B4A;
$sidebar-color-dark: #292d37;
$sidebar-text: #FFFFFF;

$text-dark: #646d82;

$error: #cc0000;
$warning: #FFCC00;
$success: #5cb85c;
