@import 'client/styles/colors';

.genny-notifications {

    .notifications-header-main {
        position: relative;
        
        .notifications-badge {
            position: absolute;
            top: -5px;
            right: 5px;
            font-size: 0.75em;
        }
    }
}
