@import '../../../../styles/colors';

.header {
	background: rgb(31, 31, 31);
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    
	.header-left, .header-right {
		display: flex;
		align-items: center;

		img {
			width: 30px;
			height: 30px;
			margin-left: 10px;
			border-radius: 5px;
		}

		span, i {
			color: white;
		}
	}

	.profile {
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		cursor: pointer;
		padding-top: 10px;
		padding-bottom: 10px;
		
		&:not(:last-child){
			margin-right: 10px;
		}
	}


	.profile-dropdown {
		position: absolute;
		top: 60px;
		right: 0;
		list-style-type: none;
		background: #DDD;
		border-radius: 5px;
		padding: 10px 0 20px;
		margin: 0;
		width: 150px;
		z-index: 100;

		> li {
			display: flex;
			align-items: center;
			padding: 5px 10px;

			> i {
				padding-right: 5px;
			}

			> i, span {
				color: rgb(31, 31, 31);
			}

			&:hover {
				background: rgb(31, 31, 31);

				> i, span {
					color: white;
				}
			}
		}
		
		&:before {
			content: "";
			position: absolute;
			top: -5px;
			left: 50%;
			transform: rotate(45deg);

			background: #DDD;
			width: 10px;
			height: 10px;
		 }
	}
}
