@import '../../../../styles/colors';

.app-holder {

	height: 100vh;

	> .grid > .row:first-child {
	
	 	> .col:first-child {
			overflow: initial !important;
			z-index: 100;
			position: relative;
			flex: 0;
		}

		> .col:nth-child(2) {
			overflow: hidden !important;
		}

	}

	&.sm > .app-main > .row:nth-child(2) .col {
		overflow: hidden !important;
	}
}
