@import '../../../../styles/colors';

.app-holder {

	height: 100vh;

	> .grid > .row:first-child {
	
	 	> .col:first-child {
			overflow: initial !important;
			z-index: 100;
			position: relative;
		 }
	}
}
