@import '../../../../styles/colors';

.app-holder {

	display: flex;


	.app-sidebar{

		transition: 500ms ease;

		height: 100vh;

		box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);
        z-index: 1000;

        position: relative;

        .app-sidebar-toggle {
        	position: absolute;
        	top: 10px;
        	right: 10px;
        	cursor: pointer;
        }
	}

	.app-main {

		flex-grow: 1;

		height: 100vh;

		.app-header {


		}

		.app-content {

			overflow-y: scroll;
			height: calc(100vh - 84px);
			display: flex;
			flex-direction: column;

		}

		.app-footer {



		}
	}
}