@import '../../../../styles/colors';


.input-button {

    .button {
        margin: 0 auto;
    }

    &.submit {

        button {
            background-color: green;
            content: "Submit";
        }
    }

    &.facebook {

        button {
            background-color: #3B5998;
        }

        .button-text:after {

            content: "\f09a";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }
}
