@import 'client/styles/colors';

.input-button {

    .button {
        margin: 0 auto;
    }

    &.animate {

        transition: 0.5s all;
        max-width: 50px;
        max-height: 50px;
        border-radius: 25px;
    }

    &.submit {

        button {
            background-color: green;
            content: "Submit";
        }
    }

    &.facebook {

        button {
            background-color: #3B5998;
        }

        .button-text:after {

            content: "\f09a";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }
}
