@import 'client/styles/colors';

.imageView {

  display: flex;
  flex-direction: column;

  img {

    background-color: #fff;
    width: 100%;
    max-width: 100%;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  p {
    margin: 0px;
  }
}

.imageView.rounded {

    img {
        border-radius: 50%;
    }
}
