.imageView {

  display: flex;
  flex-direction: column;
  
  img {

    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  p {
    margin: 0px;
  }
}
