.bucket-view {
  display: flex;
  flex-direction: row;

  .bucket {
    flex: 1;
    flex-shrink: 0;
    height: 100%;
    text-align: center;
    background: #a3a3a3;
    color: #FFF;
    min-height: 100%;

    &:nth-child(odd) {
      background: #989998;
    }

    .bucket-title {
      padding: 20px;
      background: rgba(0,0,0,0.1);
    }

    .bucket-content {
      padding: 10px;

      .card {
        margin-bottom: 10px;
      }
    }
  }
}
