@import 'client/styles/colors';

.input-terms {

    .input-header {
    }

    .input-terms-main {
        margin-top: 15px;
        padding: 0 10px;
        height: 500px;
        overflow: scroll;
        border: 1px solid #bbb;
        border-radius: 5px;
    }

    .terms-label {
        margin-left: 10px;

        &.label-html {
            color: $grey-text-color;

            a {
                text-decoration: underline;

                &:link, &:visited, &:hover, &:active {
                    color: initial;    
                }
            }
        }
    }

    &.sm .input-terms-main {
        margin: 5px -10px 0;
        height: calc( 100vh - 350px);
    }
}