@import 'client/styles/colors';

.carousel {


    > div {
        height: fit-content;

        > .carousel-slider {
            height: 100%;

            img {
                background-size: cover;
            }
        }

        .control-arrow {
            background: rgba(0,0,0,0.4) !important;
        }
    }

}