@import 'client/styles/colors';

.carousel-main {


    > div {
        height: fit-content;

        > .carousel-slider {
            height: 100%;

            img {
                background-size: cover;
                //width: initial;
            }
        }

        .control-arrow {
            //background: rgba(0,0,0,0.4) !important;

            &::before {
                font-size: 2em;
                // background: white;
                // border-radius: 50%;
                // padding: 5px;
            }

            &:hover{ 
                //background: none;
            }
        }
    }

    .carousel {
        .thumbs-wrapper{
            overflow-x: auto;
        }
        .carousel-slider {

            .slider-wrapper{

            }
        }
    }
}