.spinner {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  .css-17v8wxy {
    width: 60px;
    height: 60px;
    margin-left: 25%;
  }

  .dropdown-loader {

    .css-75k8nz {
      margin: 5px;
      max-width: 20px;
    }
  }
}
