@import 'client/styles/colors';

.genny-map {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.modal {

    .genny-map {

        position: absolute;
        top: 15px;
        left: 15px;
        padding-bottom: 45px;
        padding-right: 45px;
    }
}
