@import 'client/styles/colors';

.input-radio {

    .input-header {
    }

    .radio-main {
        display: flex;
        align-items: center;
        
        input, span {
            &:not():last-child {
                margin-right: 5px;
            }
        }
    }

    .radio-label {
        //margin-left: 10px;

        &.label-html {
            color: $grey-text-color;

            a {
                text-decoration: underline;

                &:link, &:visited, &:hover, &:active {
                    color: initial;    
                }
            }
        }
    }
}