@import 'client/styles/colors';

.input-text {

	.input-header {
    }

	> .input-field {

	    &:not([disabled]):hover {
	    }

	    &:hover, &:focus {
	    }

	    &:focus, &:not([disabled]):hover:focus {
	    }
	}

	> span {
    	margin-right: 10px;
    	color: #555;

    	&:nth-child(2) {
    		margin-right: 20px;
    	}
    }

    &.success input{
    	color: $success;
	    border: 1px solid $success;
    }

    &.error input{
    	color: $error;
	    border: 1px solid $error;
    }
}



