@import '../../../../styles/colors';


.input-text {

	> input {

		height: 50px;
	    width: 100%;
	    border-radius: 5px;
	    color: #999;
	    background-color: #DDD;
	    font-size: 1em;
	    padding: 10px;
	    box-sizing: border-box;
	    text-align: center;
	    transition: 300ms ease;
	    border: 1px solid #DDD;

	    &:not([disabled]):hover {
	        color: #555;
	        border: 1px solid #555;

	    }

	    &:hover, &:focus {
	    	outline: none;
	    }

	    &:focus, &:not([disabled]):hover:focus {
	        border: 1px solid black;
	        box-shadow: 0px 0px 5px #888;
	        background-color: white;
	        color: black;
	    }
	}

	> span {
    	margin-right: 10px;
    	color: #555;

    	&:nth-child(2) {
    		margin-right: 20px;
    	}
    }

    &:not(:last-child) {
    	margin-bottom: 10px;
    }

    > .optional {
    	font-size: 0.5em;
    }

    &.success input{
    	color: $success;
	    border: 1px solid $success;
    }

    &.error input{
    	color: $error;
	    border: 1px solid $error;
    }

    .input-header {
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	margin-bottom: 3px;
    }
}



