@import 'client/styles/colors';

.genny-table {

    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    //height:100%;
    //overflow: scroll;

    &.empty {
        > div {
            height: 100%;
        }
    }

    .header-single-table {
     font-size: 24px;
    }

    .header-single {
     font-size: 18px;
    }

    span, p, div, input {
        font-size: 12px !important;
    }

    &.sm {
        .rt-td {
            white-space: initial;
        }
    }

    i {
        color: #5fa5ec;
    }
}


.table-header {
    display: flex;
    justify-content: center;

    > span {
        color: #5fa5ec;
    }
}

.table-checkbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-actions {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.table-mobile-cell {

    position: relative;


    .table-mobile-cell-header, .table-mobile-cell-row {
        display: table-row;

        span {

            overflow: hidden;

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .table-mobile-cell-header {


    }

    .table-mobile-cell-row {
        background-color: #FFF;

        &:nth-child(2) {
            border-radius: 5px 5px 0 0;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }

        &:not(:first-child) span:first-child {
            padding-left: 10px;
        }
    }

    .table-mobile-cell-cell {
        display: table-cell;
        padding-top:5px;
        padding-bottom: 5px;

        &:not(:last-child) {
            padding-right: 20px;
        }

        &:not(:first-child) {
            //width:100%;
            //max-width: 50%;
        }
    }

    .table-mobile-icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.editable-table-cell {

    height: 100%;
    overflow: initial;

    .table-input, .input-field {
        width: 100%;
        height: 100%;
        font-size: 16px;
        background: none;
        border: none;
        cursor: pointer;
        color: black;
        text-align: left;
        padding-left: 0;
        
        &:focus {
            outline: none;
            background: white;
            box-shadow: 0px 0px 5px #888;
            color: black;
            border-radius: 5px;
            
        }

        &:focus, &:hover {
            border: none !important;
        }
    }
}

.rt-th {
    outline: none;
}

.-filters {

    .rt-th {
        padding: 3px !important;

        .table-filter {
            width: 100%;

            &::placeholder {
                //color: #c2c8d5;
            }
        }
    }
}

.rt-tr {
    &.-selected {
        &.-odd .rt-td {
            background: #fff79d;
        }

        &.-even .rt-td {
            background: #fff693;
        }
    }
}