@import 'client/styles/colors';

.form-group {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .form-group-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  > .input:not(:last-child) {
    margin-bottom: 10px;
  }
}
