@import 'client/styles/colors';

.input-time {
    display: flex;
    align-items: center;

    > input {

		height: 50px;
	    border-radius: 5px;
	    color: #999;
	    background-color: #DDD;
	    font-size: 1em;
	    padding: 10px;
	    box-sizing: border-box;
	    text-align: center;
	    transition: 300ms ease;
	    border: 1px solid #DDD;

	    &:not([disabled]):hover {
	        color: #555;
            border: 1px solid #555;
        }

        &:hover, &:focus {
	    	outline: none;
	    }

	    &:focus, &:not([disabled]):hover:focus {
	        border: 1px solid black;
	        box-shadow: 0px 0px 5px #888;
	        background-color: white;
	        color: black;
        }
    }

    .input-text {
        margin-bottom: 0px;
    }

    .input-time-button > button {
        padding: 0 10px;
        min-width: 50px;
    }

    > *:not(:last-child)  {
        margin-right: 10px;
    }

    &.success input{
    	color: $success;
	    border: 1px solid $success;
    }

    &.error input{
    	color: $error;
	    border: 1px solid $error;
    }
}