@import 'client/styles/colors';

.app {

    .row {
        justify-content: flex-start;
    }

    display: flex;
    width: 100%;
    height: 100%;

    .sticky {
        position: sticky;
        top: 0;
    }

    .clickable {
        cursor: pointer;
    }

    .hide-element {
        display: none;
    }

   .no-select {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */

   }

   > div {
       width: 100%;
   }
}

body {
 background-color: black;
 width: 100%;
}

.dialer-overlay-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  -webkit-animation: dialerfadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: dialerfadein 2s; /* Firefox < 16 */
  -ms-animation: dialerfadein 2s; /* Internet Explorer */
  -o-animation: dialerfadein 2s; /* Opera < 12.1 */
  animation: dialerfadein 2s;

  h1 {
    font-size: 3em;
    margin-bottom: 50px;
  }

  .material-icons {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    color: #eb4d4b;
    line-height: 100px;
    font-size: 3.5em;
    transition: 300ms ease color, 300ms ease background;
    cursor: pointer;

    &:hover {
      background: #eb4d4b;
      color: white;
    }
  }
}

body.modal-active {
    overflow: hidden;
    .app {
        animation: scaleBack .25s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
}

body.modal-closing {
 .app {
  animation: scaleForward .25s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
 }
}

body, html {
    position: fixed;
}

main {
    width: 100%;
}
