@import '../../../../styles/colors';

.input-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.success > .dropdown-container > .input-dropdown-button{
    	color: $success;
	    border: 1px solid $success;
    }

    &.error > .dropdown-container > .input-dropdown-buttont{
    	color: $error;
	    border: 1px solid $error;
    }

    .dropdown-label {
        margin-right: 30px;
    }
    .dropdown-container {
        position: relative;
        max-width: 400px;
        width: 100%;
        
        .input-dropdown-button {
            height: 50px;
            
            border-radius: 5px;
            color: #999;
            background-color: #DDD;
            font-size: 1em;
            padding: 10px 10px;
            box-sizing: border-box;
            transition: 300ms ease;
            border: 1px solid #DDD;
            outline: none;
            
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.selected {
                background-color: #FFF;
                border: 1px solid black;
                box-shadow: 0px 0px 5px #888;

                > span {
                    color: rgb(31, 31, 31);
                }
                
            }
        }
    }

    .dropdown-menu {
        background-color: #FFF;
        font-size: 1em;
        padding: 10px 0 20px;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        position: absolute;
        list-style-type: none;  
        border: 1px solid #555;
        box-shadow: 0px 0px 5px #888;
        z-index: 1;

        > li {
            display: flex;
            align-items: center;
            
            &:hover {
				background: rgb(31, 31, 31);

				> span {
					color: white;
				}
			}
        }
    }
}

