@import 'client/styles/colors';

.input-textarea {

	.input-header {
    }

	> .input-field {
		min-height: 150px;
	    max-width: 100%;
	    text-align: left;

	    &:not([disabled]):hover {
	    }

	    &:hover, &:focus {
	    }

	    &:focus, &:not([disabled]):hover:focus {
	    }
	}

	> span {
    	margin-right: 10px;
    	color: #555;

    	&:nth-child(2) {
    		margin-right: 20px;
    	}
	}
	
	&.success .input-field {
    	color: $success;
	    border: 1px solid $success;
    }

    &.error .input-field {
    	color: $error;
	    border: 1px solid $error;
    }

    &:not(:last-child) {
    	margin-bottom: 10px;
    }
}
