@import '../../../../styles/colors';

.ellipsis-anim {
  display: flex;
  align-items: center;
  > i {
    opacity: 0;
    -webkit-animation: ellipsis-dot 1.5s infinite;
    animation: ellipsis-dot 1.5s infinite;
  }
}

.ellipsis-anim i:nth-child(1) {
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s;
}
.ellipsis-anim i:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.ellipsis-anim i:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}

i {
  color: #BBB;
}