@import '../../../../styles/colors';

.menu-bar {
	background: rgb(31, 31, 31);
	padding: 0 50px 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.menu-bar-left, .menu-bar-right {
		display: flex;
		align-items: center;

		img {
			width: 30px;
			height: 30px;
			margin-left: 10px;
		}

		span, i {
			color: white;
		}
	}

	.profile {
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		cursor: pointer;
		padding-top: 10px;
		padding-bottom: 10px;
		
		&:not(:last-child){
			margin-right: 10px;
		}
	}


	.navigation-dropdown {
		position: absolute;
		top: 50px;
		list-style-type: none;
		background: #DDD;
		border-radius: 5px;
		padding: 10px 0 20px;
		margin: 0;
		width: 150px;

		> li {
			display: flex;
			align-items: center;
			padding: 5px 10px;

			> i {
				padding-right: 5px;
			}

			> i, span {
				color: rgb(31, 31, 31);
			}

			&:hover {
				background: rgb(31, 31, 31);

				> i, span {
					color: white;
				}
			}
		}
	}
}
