@import 'client/styles/colors';

.bucket-card {
	padding: 5px;
	background: transparent;
	border-radius: 10px;
	width: 100%;
	color: #222;
	//overflow: hidden;

	.inner-card {
		padding: 10px;
		border-radius: 5px;
		background: white;
		box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	}
}

.card-options {
	list-style: none;
	padding: 10px;
	color: #6c6c6c;
	margin: 0px;

	li {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	}

	li:last-child {
		border-bottom: none;
	}
}
