@import 'client/styles/colors';

.split-view {

    > .row {
        flex-wrap: nowrap;

        > .col {
            overflow-y: auto;
        }
    }
    &.sm {
        width: 200vw;
        > .row {
            > .col {
                overflow: scroll;

                transition: 0.3s ease;
                opacity: 1;
                overflow-x: hidden;
                overflow-y: auto;

                &.split-view-left {
                    flex-grow: 1;
                    
                    &.open {
                        transform: translateX(0%);
                    }
                    &.closed{
                        transform: translateX(-100%);
                    }
                }

                &.split-view-right {
                    flex-grow: 1;

                    &.open {
                        transform: translateX(0%);
                    }
                    &.closed{
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }

    .split-view-close-button {
        display: flex;
        align-items: center;
    }
}