@import 'client/styles/colors';

.split-view {
    > .row {
        > .col {
            overflow: scroll;

            transition: 0.3s ease;
            opacity: 1;
            overflow-x: hidden;
            overflow-y: auto;

            &.split-view-left {
                flex-grow: 1;
                
                &.open {
                    transform: translateX(100%);
                }
                &.closed{
                    transform: translateX(-100%);
                }
            }

            &.split-view-right {
                flex-grow: 1;

                &.open {
                    transform: translateX(100%);
                }
                &.closed{
                    transform: translateX(-100%);
                }
            }
        }
    } 
}