@import '../../../../styles/colors';

.pagination {
    width: 100%;

    .pagination-main {
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        background-color: #ddd;

        .pagination-prev > a, .pagination-next > a {
            width: inherit;
            height: 50px;
            border: none;
            font-size: 1em;
            cursor: pointer;
            outline: none;
        }

        .pagination-current {
            color: red;
        }


    }

    &.hide-pages {

      display: none;
        .pagination-number, .pagination-break {
            display: none;
        }
    }
}
