@import '../../../../styles/colors';

.pagination {
    width: 100%;

    .pagination-main {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        background-color: #ddd;

        .pagination-prev, .pagination-next, .pagination-number {
            
            i, a {
                color:  #BBB;
                outline: none;
                cursor: pointer;
            }
            
            &:hover {
                i, a {
                    color: #555;
                }
            }
        }

        .pagination-prev, .pagination-next {

            > a {
                width: inherit;
                height: 50px;
                border: none;
                font-size: 1em;
                
            }
            &.disabled i {
                color: #DDD;
                cursor: default;
            }

        }

        .pagination-number > a {
            padding: 0 10px;
        }

        .pagination-current > a {
            color: #000;
        }
    }

    &.hide-nav {

        .pagination-main {
            display: none;
        }
    }
}
