@import '../../../../styles/colors';

.breadcrumbs {

    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;

    .breadcrumbs-main {

        display:flex;
        // align-items: center;
        // justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            padding-right: 10px;
            cursor: pointer;

            span {
                font-size: 0.8em;
                
                &:not(:last-child) {
                    padding-right: 10px;
                }
            }

            i {
                padding: 0;
                color: white;
            }
        }
    }
}
