@import 'client/styles/colors';

.list {

	display: flex;
    justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #ddd;
	padding: 5px;

	.list-main, .list-nav, .list-header, .list-count {
		width: 100%;
        max-width: 800px;

	}

	.list-main {

		background-color: #ddd;
		padding: 5px;
		border-radius: 5px;

		.list-empty {
			display: flex;
			justify-content: center;
		} 
	}

	.list-count {
		margin-bottom: 5px;
	}

	.list-nav {
		display: flex;
		justify-content: center;

		> .visible {
			visibility: visible;
		}

		> .hidden {
			visibility: hidden;
		}
	}
}
