@import '../../../../styles/colors';

.list {

	display: flex;
    justify-content: center;
	flex-direction: column;
    align-items: center;

	padding-top: 40px;
	
	.list-main, .list-nav, .list-header {
		width: 100%;
        max-width: 800px;

	} 

	.list-nav {			
		display: flex;
		justify-content: center;

		> .visible {
			visibility: visible;
		}

		> .hidden {
			visibility: hidden;
		}
	}

	.list-empty {
		display: flex;
		justify-content: center;
	}

	.list-item:not(:last-child){
		margin-bottom: 10px;
	}
}