@import '../../../../styles/colors';


.card {
	padding: 10px;
	background: white;
	border-radius: 5px;
	width: 100%;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	color: #222;

	margin-bottom: 50px;

	p, span, i {
		//font-size: 0.75em;
	}
}

.card-top {
	display: flex;
	justify-content: space-between;

}

.card-image {
	border-radius: 5px;
	height: 50px;
	width: 50px;
	background: #DDD;
	flex-shrink: 0;
}

.card-info {
	width: 100%;
	display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-around;

    > span {
    	font-size: 0.75em;
    }
}

.card-light {
	background: $success;
	width: 10px;
	border-radius: 5px;
	height: 50px;
	flex-shrink: 0;

	&.warning {
		background: $warning;
	}

	&.urgent {
		background: $error;
	}
}

.card-toggle {
	display: flex;
	justify-content: center;

	i {
		cursor: pointer;
	}
}

.card-collapse {
	padding: 10px;
	background: #F2F2F2;
	border-radius: 5px;
}

.card-data {
	display: flex;
    align-items: center;

    &:not(:last-child){
		margin-bottom: 10px;
	}

	i {
		font-size: 1em;
		margin-right: 5px;
	}

	span {
		font-size: 0.75em;
	}
}

.card-buttons {
	display: flex;

	> div:not(:last-child){
		margin-right: 10px;
	}
}

.fade {
  transition: ease-in 0.15s;
  transition-property: opacity, transform;
}

.fade-entering {
  opacity: 0;
  transform: translateY(-10%);
}

.fade-entered {
  opacity: 1;
  transform: translateY(0);
}

.fade-exiting {
  opacity: 0;
  transform: translateY(-10%);
}
