@import '../../../../styles/colors';


.card {
	padding: 10px;
	background: white;
	border-radius: 5px;
	width: 100%;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	color: #222;


	p, span, i {
	}

	.card-top {
		display: flex;
		justify-content: space-between;

		.card-image {
			border-radius: 5px;
			height: 40px;
			width: 40px;
			max-height: 40px;
			max-width: 40px;
			background: #DDD;
			flex-shrink: 0;
			margin-right: 10px;
			overflow: hidden;

			> img {
				width: 100%;
				height: 100%;
			}
		}

		.card-center {
			flex-grow: 1;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-right: 10px;

			> span {
				font-size: 0.75em;
			}

			.card-toggle {
				display: flex;
				justify-content: center;

				i {
					cursor: pointer;
					font-size: 1em;
				}
			}
		}
	}

	.card-collapse {
		padding: 10px;
		background: #F2F2F2;
		border-radius: 5px;
		margin-top: 10px;

	}
}

.card-options {
	list-style: none;
	padding: 10px;
	color: #6c6c6c;
	margin: 0px;

	li {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	}

	li:last-child {
		border-bottom: none;
	}
}
