@import '../../../../styles/colors';

.form-container {
	background: white;
	display: flex;
	justify-content: center;

	flex-grow: 1;

	.form-main {
		
		color: #222;

		width: 600px;
		margin-top: 50px;
		margin-bottom: 50px;
		padding: 20px;

		.form-fields {

			padding-bottom: 10px;

			> .pagination > .pagination-content > div:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	&.horizontal {

		background: #999;
		border-radius: 5px;
		margin-bottom: 10px;

		.form-main {
			width: 100%;
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 5px;
		}

		.form-fields {
			display: flex;
			justify-content: space-between;
			padding-bottom: 0;

			flex-wrap: wrap;

			.input-text {
				margin-bottom: 0 !important;
				flex-grow: 1;

				padding: 5px;

				> input {
					padding-top: 3px;
					padding-bottom: 3px;
					height: 40px;
					border-radius: 10px;
				}
			}
		}
	}
}