@import '../../../../styles/colors';

.form-container {
	background: white;
	display: flex;
	justify-content: center;

	flex-grow: 1;

	.form-main {
		
		color: #222;

		width: 600px;
		margin-top: 50px;
		margin-bottom: 50px;
		padding: 20px;

		.form-fields {

			padding-bottom: 10px;
		}

		.form-nav {

			display: flex;
			justify-content: center;

			> .visible {
				visibility: visible;
			}

			> .hidden {
				visibility: hidden;
			}
		}
	}
}