@import '../../../../styles/colors';

.progress-bar {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px 0;
	position: relative;
    width: 100%;

    display: flex;
	align-items: center;

	//background-color: #fdd;

	.progress-bar-container {
		position: relative;
		margin-right: 10px;
		margin-left: 10px;
		width: calc(100% - 20px);
		height: 10px;

		.progress-bar-fill, .progress-bar-empty {
			border-radius: 5px;
			height: 10px;
			position: absolute;
		}
	}

	&.one {
		padding: 5px 0;
		
		.progress-bar-container {
			position: absolute;
		}
	}

	&.two {
		padding: 0;
		align-items: flex-end;
		flex-direction: column;
	}
}

.progress-bar-fill {
	background: #555;
	width: 50%;
	z-index: 2;
	transition: 300ms ease-out;
}

.progress-bar-empty {
	background: #DDD;
	width: 100%;
	z-index: 1;
}

.node-container {
	width: 100%;

	&.one {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> .node {
			background: #555;
			border-radius: 10px;
			height: 20px;
			width: 20px;
			z-index: 3;

			display: flex;
			justify-content: center;
			align-items: center;

			transition-delay: 1s;
			transition: 200ms ease-out;

			> div {
				border-radius: 5px;
				height: 10px;
				width: 10px;
				
				transition: 200ms ease-out;
			}

			&.incomplete {
				background: #DDD;

				> div {
					background: white;
				}
			}

			&.current {

				> div {
					background: white;
				}
			}
		}
	}

	&.two {

		position: relative;

		i {
			color: #999;
		}

		> .end-points {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;
			margin-bottom: 10px;
		}

		> .mid-points {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;
			position: absolute;
			bottom: 10px;

			> i {

				&:first-child {
					margin-left: 10px;
					visibility: hidden;
				}

				&:last-child {
					margin-right: 10px;
					visibility: hidden;
				}
			}
		}

		> .current-point {
			position: absolute;
			display: flex;
			justify-content: flex-start;
			width: 100%;
			bottom: 10px;
			
			.current-point-spacer {
				transition: 300ms ease-out;
			}
			
			i {
				color: #555;

			}
		}
	}
}
