@import 'client/styles/colors';

.input-file {

    .input-header {
    }

    .input-field {
        display: flex;
        align-items: center;

        min-height: 50px;
        max-width: 100%;
        text-align: left;

        .input-file-icon {
            padding-right: 20px;

            i {
                transition: 300ms ease;
            }
        }

        &:not([disabled]):hover .input-file-icon i {
            color: #555;
        }
    }

    > button {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 0;
        background: transparent;

        &:disabled {
        background: black;
        cursor: default;

        > div {

            > i.material-icons {
                color: #DDD;
                }
            }
        }

        &:not(:disabled) {

            &:hover {

                > div {
                   transform: scale(1.1);
                }
            }

            &:focus {
                outline: 0;

                > div {
                    border-color: orange;
                    outline: 0;
                    transform: scale(1.1);
                }
            }
        }

        > p {
            margin: auto;
            margin-left: 10px;
            color: #8d8d8d;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
        }

        > div {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            transition: 300ms ease transform, 300ms ease background, 300ms ease border-color;
            border: 2px solid transparent;
            background: #DDD;

            > i.material-icons {
                font-size: 1.7rem;
                color: white;
                transition: 300ms ease color;
            }
        }
    }

    > label {
        display: block;
        font-weight: bold;
        color: #19a4e7;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    article {
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px;
        padding-right: 35px;

        > button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px;
            cursor: pointer;
            border: 0;
            background: transparent;

            &:hover {

                > i.material-icons {
                    color: lighten(black, 20%);
                }
            }

            > i.material-icons {
                transition: 300ms ease color;
                color: black;
            }
        }

            > img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid grey;
            }

            > aside {
                height: 40px;
                width: 40px;
                background: #DDD;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                > i.material-icons {
                    color: black;
                    font-size: 1.5rem;
                }
            }

        > div {
            flex-grow: 1;
            margin-left: 10px;

            > a {
                color: black;
                transition: 300ms ease color;

                &:hover {
                    color: black;
                }
            }

            > small {
                color: grey;
                display: block;
            }
        }
    }
}
