.input-payment {
  margin-top: 50px;
  padding: 50px;
  display: inline-block;
  width: 100%;

  .payment-type-select {
    display: flex;
  }

  h2 {
    display: flex;
    align-items: center;
  }

  .next-step-btn {
    margin-top: 15px;
    background: lighten(#000, 20%);
    color: #FFF;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease color, 300ms ease background;

    i {
      color: #FFF;
    }

    &.disabled {
      background: lighten(#000, 80%);
    }

    &:hover {
      background: #000;

      &.disabled {
        background: lighten(#000, 80%);
        cursor: not-allowed;
      }
    }
  }

  .back-step-btn {
    background: lighten(#000, 20%);
    height: 40px;
    width: 40px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    transition: 300ms ease background;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background: #000;
    }

    i {
      color: #FFF;
    }
  }

  .add-btn {
    background: #5cb85c;
    margin-right: 0;
    margin-left: auto;
    color: #FFF;
    font-size: 0.7em;
    padding: 10px 15px 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease background;

    &:hover {
      background: lighten(#5cb85c, 10%);
    }

    .material-icons {
      color: #FFF;
      margin-left: 15px;
    }
  }

  .confirm-btn {
    background: #5cb85c;
    margin-right: 0;
    margin-left: auto;
    color: #FFF;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease background;

    .material-icons {
      color: #FFF;
      margin-left: 15px;
    }

    &:hover {
      background: darken(#5cb85c, 10%);
    }
  }

  .input-field {
    display: block;
    margin-top: 20px;

    input {
      display: block;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      font-size: 1.2em;
    }
  }

  .input-split {
    display: flex;

    .input-field {
      flex-grow: 1;

      &:first-child {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }

  .error-box {

     background: red;

     &.success {
         background: #5cb85c;
     }

    color: #FFF;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
  }

  .add-payment-method-btn {
    background: #5cb85c;
    margin-right: 0;
    margin-left: auto;
    color: #FFF;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease background;

    .material-icons {
      color: #FFF;
      margin-left: 15px;
    }

    &.disabled {
      background: #F2F2F2;
    }

    &:hover {
      background: #5cb85c;

      &.disabled {
        background: #F2F2F2;
      }
    }
  }

  .Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 15px 52px 15px 15px;
  transition: all 200ms ease;
  margin-top: 20px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 15px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
}
