.input-payment {
  margin-top: 50px;
  padding: 50px;
  display: inline-block;
  width: 100%;

  .payment-type-select {
    display: flex;
  }

  h2 {
    display: flex;
    align-items: center;
  }

  .next-step-btn {
    margin-top: 15px;
    background: lighten(#000, 20%);
    color: #FFF;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease color, 300ms ease background;

    i {
      color: #FFF;
    }

    &.disabled {
      background: lighten(#000, 80%);
    }

    &:hover {
      background: #000;

      &.disabled {
        background: lighten(#000, 80%);
        cursor: not-allowed;
      }
    }
  }

  .back-step-btn {
    background: lighten(#000, 20%);
    height: 40px;
    width: 40px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    transition: 300ms ease background;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background: #000;
    }

    i {
      color: #FFF;
    }
  }

  .add-btn {
    background: #5cb85c;
    margin-right: 0;
    margin-left: auto;
    color: #FFF;
    font-size: 0.7em;
    padding: 10px 15px 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease background;

    &:hover {
      background: lighten(#5cb85c, 10%);
    }

    .material-icons {
      color: #FFF;
      margin-left: 15px;
    }
  }

  .confirm-btn {
    background: #5cb85c;
    margin-right: 0;
    margin-left: auto;
    color: #FFF;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease background;

    .material-icons {
      color: #FFF;
      margin-left: 15px;
    }

    &:hover {
      background: darken(#5cb85c, 10%);
    }
  }

  .input-field {
    display: block;
    margin-top: 20px;

    input {
      display: block;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      font-size: 1.2em;
    }
  }

  .input-split {
    display: flex;

    .input-field {
      flex-grow: 1;

      &:first-child {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }
  }

  .add-payment-method-btn {
    background: #5cb85c;
    margin-right: 0;
    margin-left: auto;
    color: #FFF;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms ease background;

    .material-icons {
      color: #FFF;
      margin-left: 15px;
    }

    &.disabled {
      background: #F2F2F2;
    }

    &:hover {
      background: #5cb85c;

      &.disabled {
        background: #F2F2F2;
      }
    }
  }
}
