.layout-not-found {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background: #f44336;
  text-align: center;

  .material-icons {
    display: block;
    font-size: 3em;
  }
}
