@import '../../../../styles/colors';

.status {
    background: $success;
    width: 10px;
    border-radius: 5px;
    flex-shrink: 0;
		
    &.warning {
        background: $warning;
    }

    &.urgent {
        background: $error;
    }

}