@import '../../../../styles/colors';

.input-date-picker {
    display: flex;
    align-items: center;

    input {
        height: 50px;
	    width: 100%;
	    border-radius: 5px;
	    color: #999;
	    background-color: #DDD;
	    font-size: 1em;
	    padding: 10px;
	    box-sizing: border-box;
	    text-align: center;
	    transition: 300ms ease;
        border: 1px solid #DDD;

        &.success{
            color: $success;
            border: 1px solid $success;
        }
    
        &.error{
            color: $error;
            border: 1px solid $error;
        }
    }

    .input-date-picker-label {
        margin-right: 10px;
    }
}