@import 'client/styles/colors';

.input-date-picker {

    .input-header {
    }

    > div {

        flex-grow: 1;

        .react-datepicker-wrapper {
            width: 100%;
        }
    }

    .react-datepicker-popper {
        z-index: 100;
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
        padding-left: 0;
        padding-right: 0;
    }

    .react-datepicker__input-container {

        width: 100%;
        min-width: 170px;
    }
    
    .input-field {
       
        &.success{
            color: $success;
            border: 1px solid $success;
        }

        &.error{
            color: $error;
            border: 1px solid $error;
        }

        &:hover, &:focus {
        }

        &:focus, &:not([disabled]):hover:focus {
        }
    }

    &.mobile {

        &.success .input-field {
            color: $success;
            border: 1px solid $success;
        }

        &.error .input-field {
            color: $error;
            border: 1px solid $error;
        }
    }

    .input-date-picker-mobile {

        .input-field:not(:first-child) {
            margin-left: 5px;
        }
    }
}
